#file: noinspection undefined,invalidValue
spring:
  application:
    name: api-gateway
  cloud:
    loadbalancer:
      cache:
        enabled: false
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/users/**
          filters:
            - StripPrefix=2

        - id: posts-service
          uri: lb://POSTS-SERVICE
          predicates:
            - Path=/api/v1/posts/**
          filters:
            - StripPrefix=2
            - name: AuthenticationFilter

        - id: connections-service
          uri: lb://CONNECTIONS-SERVICE
          predicates:
            - Path=/api/v1/connections/**
          filters:
            - StripPrefix=2
            - name: AuthenticationFilter

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka

jwt:
  secretKey: as89gah907d80had9h9a7d90ha6d79h5a9dh09da09k98a6k8aey98ha896rh9